* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #E5E5E5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    max-width: 430px;
    height: 90px;
    padding: 0 2.5px;
    background-color: #E5E5E5;
    border-top: 10px solid #000000;
    border-bottom: 10px solid #000000;
    margin:0 auto;
    margin-bottom: 18px;

    font-weight: 800;
    font-size: 355%;
    color: #000000;
    line-height: 70px;
    text-align: center;
}

.time-display {
    margin:0 auto;
    max-width: 430px;
}

.container div:not(:last-child){
    border-bottom: 0 !important;
}

.row {
    height: 90px;
    padding: 3% 7%;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-bg {
    background-color: #000000;
    color: #FFFFFF;
}

.white-bg {
    background-color: #FFFFFF;
}

.city {
    font-weight: 800;
    font-size: 200%;
}

.date {
    font-weight: 800;
    font-size: 100%;
    font-style:italic;
}

.time {
    font-weight: 800;
    font-size: 355%;
}

@media only screen and (max-width: 450px) {
    body {
        padding: 5px;
        font-size: 14px;
    }

    .title {
        height: 80px;
        line-height: 60px;
    }

    .row {
        height: 80px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }

    .title {
        height: 70px;
        line-height: 50px;
    }

    .row {
        height: 70px;
    }
}

@media only screen and (max-width: 350px) {
    body {
        font-size: 11px;
    }
}
